body {
  border: solid 1px black;
}

* {
  box-sizing: border-box;
}

.main-content {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 30px;
  grid-template-areas:
    "nav nav nav"
    "aside main section";
}
/* Layout */
nav {
  grid-area: nav;
  border: solid 1px black;
  grid-row: -4 / 1;
}

section {
  grid-area: section;
  border: solid 1px black;
  grid-row: 2 / -1;
}

main {
  grid-area: main;
  border: solid 1px black;
  grid-row: 2 / -1;
}

aside {
  grid-area: aside;
  border: solid 1px black;
  grid-row: 2 / -1;
}

/* Nav Elements */

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-top: 50px;
  margin-bottom: 50px;
}
